.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 0.4rem;
  z-index: 1;
  transition: 0.4s;
  cursor: pointer;
}

.scrollup__icon {
  font-size: 2rem;
  color: white;
}

/* Show Scroll */
.show-scroll {
  bottom: 7rem;
}

.show-lower-scroll {
  bottom: 4rem;
}

.cansel-scroll {
  display: none;
}

@media screen and (max-width: 992px) {
  .scrollup {
    right: 1rem;
    bottom: 0;
    padding: 0.25rem 0.4rem;
  }

  .scroll__icon {
    font-size: 1.25rem;
  }

  .show-scroll {
    bottom: 5rem;
  }
}